/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/PAT.iml
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-69ab68d0ac52ced65c76.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-94a6d650804dacece928.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1bf85ba0d43735e3e50b.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-24T06-02-00-0283.json
/cmake-build-debug/.cmake/api/v1/reply/target-test1-Debug-50a2857067bfa4c0a52d.json
/cmake-build-debug/.cmake/api/v1/reply/target-test2-Debug-68fbefc3f79b39ace384.json
/cmake-build-debug/.cmake/api/v1/reply/target-test3-Debug-728bf7d0f4e84e7b7779.json
/cmake-build-debug/.cmake/api/v1/reply/target-test4-Debug-4a9e17ec4a7493186945.json
/cmake-build-debug/.cmake/api/v1/reply/target-test5-Debug-751ca88809531f77997c.json
/cmake-build-debug/.cmake/api/v1/reply/target-test6-Debug-1f3243c05332d5593232.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7e62ce16efcf7e1d74cb.json
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/test1.exe
/cmake-build-debug/test1.ilk
/cmake-build-debug/test1.pdb
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-234f423f100f6bc94491.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-24T06-28-37-0309.json
/cmake-build-debug/.cmake/api/v1/reply/target-test1-Debug-49dddfa4d79eaa547499.json
/cmake-build-debug/.cmake/api/v1/reply/target-test2-Debug-ffcb00fe187f94be229f.json
/cmake-build-debug/.cmake/api/v1/reply/target-test3-Debug-a78e0ada16690573ec33.json
/cmake-build-debug/.cmake/api/v1/reply/target-test4-Debug-926cfc1c1185d94330dd.json
/cmake-build-debug/.cmake/api/v1/reply/target-test5-Debug-f24d7e5b74df6e908123.json
/cmake-build-debug/.cmake/api/v1/reply/target-test6-Debug-108d634585a5efcea8e9.json
/cmake-build-debug/.cmake/api/v1/reply/target-test7-Debug-fac574c714497036190e.json
